* {
    margin: 0; /* remove as margens padrão de todos os elementos */
    padding: 0; /* remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* isso garante que o padding e a borda sejam incluídos no cálculo dos elementos */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex; /* utiliza o modelo de leiaute Flexbox para o corpo do documento */
    justify-content: center; /* centraliza os elementos horizontalmente */
    align-items: center; /* centraliza os elementos verticalmente */
    height: 100vh; /*Define a altura do corpo como 100% da altura */
}

.card-container {
    display: flex; /* utiliza o modelo de leiaute Flexbox */
    justify-content: space-around; /*distribui os cartões com espaço */
    gap: 20px; /*adiciona um espaçamento */
    flex-wrap: wrap; /*permite que os cartões quebrem a linha */
    padding: 20px; /*adiciona um preenchimento de 20px */
}

.card {
    background-color: white;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
}

.card:hover{
    transform: translateY(-10px); /*movimenta o cartão */
    box-shadow: 0px 6px 20px rgba(0,0,0, 0.15); /*aumenta a intensidade da sombra */
}
.card h2{
    color: #333; /*define a cor do título do cartão como cinza escuro*/
    margin-bottom: 10px; /*adiciona uma margem inferior de 10px ao titulo*/ 
}
.card p {
    color: #666; /*defina a cor do texto dentro do cartão como cinza médio*/
    font-size: 14px;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer; /* o cursor do mouse vira uma "mãozinha" com dedo indicador (firefox)*/
    transition: background-color 0.3s ease; /*Aplica uma transição suave de 0.3s a cor de fundo do botão*/
}

btn:hover{
    background-color: #0056b3;
}